In [2]:
pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.3.4-py3-none-any.whl (35 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.9.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2022.9.24)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.3.4

In [11]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import re

In [4]:
query = "(#EV OR #electricalvehicles OR #electricalmobility) until:2022-11-01 since:2022-01-01"
tweets = []
limit = 100000

In [5]:
for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.content])

In [6]:
df = pd.DataFrame(tweets)
df.head(5)

                                                   0
0  Hyundai UK Prices &amp; Specs For Ioniq 6 http...
1  Zevvy Makes Electric Cars Affordable For Super...
2  $CNC.V: “Imagine the leverage there if they ca...
3  Hey @BeauTFC Any thoughts on this #EV for the ...
4  We have joined more than 100 major companies a...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       100000 non-null  object
dtypes: object(1)
memory usage: 781.4+ KB

In [8]:
df.to_csv('EV_tweets1L.csv')

In [9]:
def preprocess_tweet(sen):
    '''Cleans text data up, leaving only 2 or more char long non-stepwords composed of A-Z & a-z only
    in lowercase'''
    
    sentence = sen.lower()

    # Remove RT
    sentence = re.sub('RT @\w+: '," ", sentence)

    # Remove special characters
    sentence = re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ", sentence)

    # Single character removal
    sentence = re.sub(r"\s+[a-zA-Z]\s+", ' ', sentence)  # When we remove apostrophe from the word "Mark's", the apostrophe is replaced by an empty space. Hence, we are left with single character "s" that we are removing here.

    # Remove multiple spaces
    sentence = re.sub(r'\s+', ' ', sentence)  # Next, we remove all the single characters and replace it by a space which creates multiple spaces in our text. Finally, we remove the multiple spaces from our text as well.

    return sentence

In [12]:
cleaned_tweets = []

for tweet in df[0]:
  cleaned_tweet = preprocess_tweet(tweet)
  cleaned_tweets.append(cleaned_tweet)

In [13]:
df['cleaned'] = pd.DataFrame(cleaned_tweets)
df.head(5)

,0,cleaned
0,Hyundai UK Prices &amp; Specs For Ioniq 6 http...,hyundai uk prices amp specs for ioniq 6 ev ve ...
1,Zevvy Makes Electric Cars Affordable For Super...,zevvy makes electric cars affordable for super...
2,$CNC.V: “Imagine the leverage there if they ca...,cnc imagine the leverage there if they can up...
3,Hey @BeauTFC Any thoughts on this #EV for the ...,hey any thoughts on this ev for the dod
4,We have joined more than 100 major companies a...,we have joined more than 100 major companies a...